
:root{
    --tuna: #333240;
    --coldturkey: #D4BCBD;
    --manatee: #8E8DAB;
    --venus: #979496;
    --gwhite:#f9f9ff;
}

body {
    margin          : 0;
    box-sizing      : border-box;
    background-color: #f9f9ff;
}

main{
    padding-top:4rem;
}

.container{
    max-width:1024px;
}

.row{
    display: flex;
    flex-direction: row;
}

.infobox-image{
    flex: 1 1 25%;
    display:inherit;
    justify-content: center;
    align-items: center;
}

.infobox-content{
    background: white;
    border-radius: 1rem;
    padding: 1.4rem;
}




